<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>
    {{ AppName }}
    @!section('title')
  </title>

  @include('layouts.partials.base-css')

  @!section('extracss')
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    @include('layouts.navbar')

    @include('layouts.aside')

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      @include('layouts.content-header')

      <!-- Main content -->
      <div class="content">
        @!section('content')
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    @include('layouts.control-sidebar')

    @include('layouts.footer')
  </div>
  <!-- ./wrapper -->

  @include('layouts.partials.base-js')

  @!section('extrajs')
</body>
</html>
