<div class="card-body">
  <div class="form-group row">
    <label class="col-form-label col-sm-2">Name</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" required value="{{ role && role.name ? role.name : '' }}">
    </div>
  </div>
</div>
